*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 90px;
    background-color: rgb(224 210 191);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e7e58;
}
.body{
    width: 100%;
    height: fit-content;
}
table {
  border-collapse: collapse;
  width: 45%;
  margin: auto;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {background-color: #eee6db;}
a{
    text-decoration: none;
    color: black;
}
.add{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 10px;
}